{{> header title='Archive | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">' }}

<main class="grey-bg">

  <div id="archives-page">
    <h1 class="large-title">Archive</h1>

    <div class="callout">
      <p>Please be aware that using old, superseded, or otherwise unsupported releases is not recommended.</p>
    </div>

    <a href="./releases.html" id="latest-button" class="blue-button a-button">
      <div>
        <span>Latest release</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
      <div>
        <span>Nightly builds</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <div class="btn-container">
      <form id="jdk-selector" class="btn-form">
        <h3>1. Choose a Version</h3>
      </form>
      <form id="jvm-selector" class="index-jvm-btn-form jvm-btn-form btn-form">
        <h3>2. Choose a JVM
          <span class="help-jvm">Help Me Choose</span>
          <div class="popup-content" id="jvm-popup">
            <div class="popup-heading">
              <h4>Choosing the right JVM</h4>
            </div>
            <div class="popup-text">
              <p class="hotspot-text"><b>HotSpot</b> is the VM from the OpenJDK community. It is the most widely used VM today and is used in Oracle’s JDK. It is suitable for all workloads.</p>
              <p>For more details see <a target="_blank" href="https://openjdk.java.net/groups/hotspot/">OpenJDK HotSpot</a>.</p>
              <p class="openj9-text"><b>Eclipse OpenJ9</b> is the VM from the Eclipse community.  It is an enterprise-grade VM designed for low memory footprint and fast start-up and is used in IBM’s JDK.  It is suitable for running all workloads.</p>
              <p>For more details see <a target="_blank" href="https://www.eclipse.org/openj9/">Eclipse OpenJ9</a>.</p>
              <p class="lts-text"><b>LTS</b> (Long Term Support). These versions have a longer support timeframe. Suitable for enterprise customers. See <a href="./support.html">Support</a> for more information.</p>
            </div>
          </div>
        </h3>
      </form>
    </div>

    <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40" alt="Content is loading."></div>
    <div id="error-container"></div>

    {{> modal }}

    <div id="archive-list" class="hide">
      <div id="pagination-container"></div>
      <table class='archive-container'>
        <tbody id='archive-table-body'>
          <script id="template" type="text/x-handlebars-template">
            {{! For each release... }}
            \{{#each releases}}
              <tr class='release-row'>
                <td class='blue-bg release-info'>
                  <div>
                    <h2><a href='\{{release_link}}' class='light-link' target='_blank'><var release-name>\{{release_name}}</var></a></h2>
                    \{{#if early_access}}
                      <span class="early-access"></span>
                    \{{/if}}
                    <h4><var>\{{release_day}}</var> \{{release_month}} <var>\{{release_year}}</var></h4>
                    <h4><a href='\{{dashboard_link}}' class='light-link' target='_blank'>Download Stats</a></h4>
                  </div>
                </td>
                <td>
                  <table class='archive-platforms'>
                    <tr class='column-names'>
                      <td>
                      </td>
                      <td>
                        <span>Installer</span>
                      </td>
                      <td>
                        <span>Binary</span>
                      </td>
                    </tr>
                    {{! For each of the release's platforms with assets to display... }}
                    \{{#each platforms}}
                      \{{#each assets}}
                        <tr class='platform-row'>
                          \{{#if @first}}
                            <td>\{{../official_name}}</td>
                          \{{else}}
                            <td></td>
                          \{{/if}}
                          \{{#if installer_link}}
                          <td class='download-td'>
                            <a class='blue-button no-underline' href='\{{installer_link}}'><var binary-info>\{{type}}</var></a>
                          </td>
                          \{{else}}
                          <td><div class='empty-download'>&nbsp;Not available</div></td>
                          \{{/if}}
                          <td class='download-td'>
                            <a class='grey-button no-underline' href='\{{link}}'><var binary-info>\{{type}} (\{{size}} MB)</var></a>
                          </td>
                          <td><a href='javascript:renderChecksum("\{{checksum}}");' class='dark-link'>Checksum</a></td>
                        </tr>
                      \{{/each}}
                    \{{/each}}
                  </table>
                </td>
              </tr>
            \{{/each}}
          </script>
        </tbody>
      </table>
    </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>' }}
