{{> header title='Archive | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.0.8/pagination.css">' }}

<main class="grey-bg">

  <div id="archives-page">
    <h1 class="large-title">Archive</h1>

    <div class="callout">
      <p>Please be aware that using old, superseded, or otherwise unsupported releases is not recommended.</p>
    </div>

    <a href="./releases.html" id="latest-button" class="blue-button a-button">
      <div>
        <span>Latest release</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
      <div>
        <span>Nightly builds</span>
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
      </div>
    </a>

    <div class="btn-container">
      <form id="jdk-selector" class="btn-form">
        <h3>1. Choose a Version</h3>
      </form>
      <form id="jvm-selector" class="btn-form">
        <h3>2. Choose a JVM</h3>
      </form>
    </div>

    <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>
    <div id="error-container"></div>

    <div id="archive-list" class="hide">
      <div id="pagination-container"></div>
      <table class='archive-container'>
        <tbody id='archive-table-body'>
          <!-- BEGIN HANDLEBARS LIVE-RENDERED TEMPLATE -->
          <script id="template" type="text/x-handlebars-template">
            \{{#each htmlTemplate}}
              <tr class='release-row'>
                <td class='blue-bg'>
                  <div>
                    <h2><a href='\{{thisGitLink}}' class='light-link' target='_blank'><var release-name>\{{thisReleaseName}}</var></a></h2>
                    <h4><var>\{{thisReleaseDay}}</var> \{{thisReleaseMonth}} <var>\{{thisReleaseYear}}</var></h4>
                    <h4><a href='\{{thisDashLink}}' class='light-link' target='_blank'>Download Stats</a></h4>
                  </div>
                </td>
                <td>

                  <table class='archive-platforms'>
                    <tr class='column-names'>
                      <td>
                      </td>
                      \{{#if installersExist}}
                      <td>
                        <span>Installer</span>
                      </td>
                      \{{/if}}
                      \{{#if binariesExist}}
                      <td>
                        <span>Binary</span>
                      </td>
                      \{{/if}}
                    </tr>

                    \{{#each thisPlatformAssets}}
                      <tr class='platform-row \{{thisPlatform}}'>
                        <td>\{{thisOfficialName}}</td>
                        \{{#if ../installersExist}}
                        <td class='download-td'>
                          \{{#if thisInstallerExists}}
                          <a class='blue-button no-underline' href='\{{thisInstallerLink}}'><var binary-info>\{{thisInstallerExtension}} (\{{thisInstallerSize}} MB)</var>
                            {{> jck-tick }}
                          </a>
                          \{{else}}
                          <div class='empty-download'>&nbsp;</div>
                          \{{/if}}
                        </td>
                        \{{/if}}

                        \{{#if thisBinaryExists}}
                        <td class='download-td'>
                          <a class='grey-button no-underline' href='\{{thisBinaryLink}}'><var binary-info>\{{thisBinaryExtension}} (\{{thisBinarySize}} MB)</var>
                            {{> jck-tick }}
                          </a>
                        </td>
                        <td><a href='\{{thisChecksumLink}}' class='dark-link'>Checksum</a></td>
                        \{{/if}}
                      </tr>
                    \{{/each}}
                  </table>
                </td>
              </tr>
            \{{/each}}
          </script>
          <!-- END HANDLEBARS LIVE-RENDERED TEMPLATE -->

        </tbody>
      </table>
    </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>' }}
