{{> header title='Installation | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/obsidian.min.css">' }}

<main class="grey-bg">

  <h1 class="large-title">Installation</h1>

  <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>
  <div id="error-container"></div>

  <div id="installation-container" class="info-page-container hide">
    <div class="align-center">
      <select id="variant-selector"></select>
      <h2 class="inline-block">Platform: </h2><select id="platform-selector" style="margin-left:1rem;"></select>
    </div>
    <div id="installation-template">
      <script id="template" type="text/x-handlebars-template">
        <img src="./dist/assets/pixel.png" onload="highlightCode()" class="hide" width="0" height="0">
        \{{#each htmlTemplate}}
          <div id="installation-container-\{{thisPlatform}}" class="installation-single-platform hide">
            <div class="margin-bottom">
              <h2 class="bold"><var platform>\{{thisOfficialName}}</var> installation</h2>
              <ol>
                <li>
                  Make sure you have downloaded the latest <strong><a href="\{{thisBinaryLink}}"><var platform>\{{thisOfficialName}}</var> binary</a></strong> to a directory that will not move or be deleted, and use Terminal/Command Prompt to <code>cd</code> into it.
                </li>
                <li>
                  Optional: use the checksum instructions below to ensure the authenticity of your binary.
                </li>
                <li>
                  Extract the <code><var extension>\{{thisBinaryExtension}}</var></code>. You can use the following command:
                  <pre><code class="highlighted"><var id="unzip-\{{thisPlatform}}" unzipCommand>\{{thisUnzipCommand}}</var></code><span onclick="copyClipboard('#unzip-\{{thisPlatform}}')" class="copy-code-button">Copy</span></pre>
                </li>
                <li>
                  Add this version of Java to your PATH:
                  <pre><code class="highlighted"><var id="path-\{{thisPlatform}}" pathCommand>\{{thisPathCommand}}</var></code><span onclick="copyClipboard('#path-\{{thisPlatform}}')" class="copy-code-button">Copy</span></pre>
                </li>
                <li>
                  Check that Java has installed correctly:
                  <pre><code id="java-\{{thisPlatform}}" class="highlighted">java -version</code><span onclick="copyClipboard('#java-\{{thisPlatform}}')" class="copy-code-button">Copy</span></pre>
                </li>
              </ol>
            </div>

            <div>
              <h2 class="bold">Checking the SHA-256 checksum</h2>
              <p>Optionally, you can compare the SHA-256 checksum of your downloaded binary against the checksums that are provided for every release and nightly build.</p>
              <p>Use this command to generate a SHA-256 checksum of your downloaded binary, then open the corresponding <a href="\{{thisChecksumLink}}">checksum file</a> and ensure that it contains the same number.</p>
              <pre><code class="highlighted"><var id="checksum-\{{thisPlatform}}" checksumCommand>\{{thisChecksumCommand}}</var></code><span onclick="copyClipboard('#checksum-\{{thisPlatform}}')" class="copy-code-button">Copy</span></pre>
            </div>
          </div>
        \{{/each}}
      </script>
    </div>
  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.4/platform.min.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>' script3='<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>' script4='<script>onInstallationLoad();</script>' }}
