{{> header title='Installation | ' style1='<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/obsidian.min.css">' }}

<main class="grey-bg">

  <h1 class="margin-bottom large-title">Installation</h1>

  <div class="align-left align">
    <div class="margin-bottom">
      <p>AdoptOpenJDK binaries are available for <a href="./releases.html">download</a> in the following types of installation package:</p>
      <ul>
        <li><a href="#archives">Archive files</a></li>
        <li><a href="#installers">Installers</a></li>
      </ul>
      <p>The binaries are supported on the architectures and operating systems listed in <a href="./supported_platforms.html">Supported Platforms</a>. If you're migrating
      to AdoptOpenJDK, you can learn about the differences between Oracle JDK and AdoptOpenJDK in our <a href="./migration.html" target="_blank">Migration Guide</a> and any
      steps that you might need to take. For example, how to use IcedTea-Web as an alternative to Web Start.
      </p>

    <div class="margin-bottom">
      <hr>
    </div>
    <h2 id="archives">Archive files</h2>
    <div class="align-center">
      <div class="btn-container">
        <form id="jdk-selector" class="btn-form">
          <h3>1. Choose a Version</h3>
        </form>
        <form id="jvm-selector" class="btn-form">
          <h3>2. Choose a JVM</h3>
        </form>
      </div>

      <h2 class="inline-block"><label for="platform-selector">Platform:</label></h2>
      <select id="platform-selector" style="margin-left:1rem;">
        <option value="unknown">Select a platform</option>
      </select>
    </div>

    <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40" alt="Content is loading."></div>
    <div id="error-container"></div>

    {{> modal }}

    {{#*inline "cmdblock"}}
      <pre class="copy-code-block">
        <code class="highlighted cmd-block"><var>{{{command}}}</var></code>
        <span class="copy-code-button">Copy</span>
      </pre>
    {{/inline}}
    <div id="installation-container" class="info-page-container hide">
      <div id="installation-template">
        <script id="template" type="text/x-handlebars-template">
          \{{#each htmlTemplate}}
            <div id="installation-container-\{{thisPlatformType}}" class="installation-single-platform hide">
              <div class="margin-bottom">
                <h2 class="bold"><var platform>\{{thisOfficialName}}</var> installation</h2>
                <ol>
                  <li>
                    Make sure you have downloaded the latest <strong><a href="\{{thisBinaryLink}}"><var platform>\{{thisOfficialName}}</var> binary</a></strong> to a directory that will not move or be deleted, and use Terminal/Command Prompt to <code>cd</code> into it.
                  </li>
                  <li>
                    Optional: use these checksum instructions to ensure the authenticity of your binary.
                  </li>
                  <li>
                    Extract the <code><var extension>\{{fetchExtension thisBinaryLink}}</var></code>. You can use the following command:
                    {{>cmdblock command="{{this.thisUnzipCommand}}" }}
                  </li>
                  <li>
                    Add this version of Java to your PATH:
                    {{>cmdblock command="{{this.thisPathCommand}}" }}
                  </li>
                  <li>
                    Check that Java has installed correctly:
                    {{>cmdblock command="java -version" }}
                  </li>
                </ol>
              </div>

            <div>
              <h2 class="bold">Checking the SHA-256 checksum</h2>
              <p>Optionally, you can compare the SHA-256 checksum of your downloaded binary against the checksums that are provided for every release and nightly build.</p>
              <p>Use this command to generate a SHA-256 checksum of your downloaded binary, then open the corresponding <a href='javascript:renderChecksum("\{{thisChecksum}}");'>checksum</a> and ensure that it contains the same number.</p>
              {{>cmdblock command="{{this.thisChecksumCommand}}" }}
              <p>Alternative, you can download SHA-256 checksum file and verify downloaded binary using this command\{{thisChecksumAutoCommandHint}}:</p>
              {{>cmdblock command="{{this.thisChecksumAutoCommand}}" }}
              <p>and confirm the command output succeeds.</p>
            </div>

            </div>
          \{{/each}}
        </script>
      </div>
    </div>
    <div class="margin-bottom">
      <hr>
    </div>

    <h2 id="installers">Installers</h2>

    <div class="margin-bottom">
      <p>Installers are currently available for Windows&reg;, Linux&reg;, and macOS&reg; JDK and JRE packages. Installation steps
        are covered in the following sections:
      </p>
        <ul>
          <li><a href="#windows-msi">Windows MSI installer packages</a></li>
          <li><a href="#macos-pkg">macOS PKG installer packages</a></li>
          <li><a href="#linux-pkg">Linux RPM and DEB installer packages</a></li>
        </ul>

    </div>

    <div class="margin-bottom">

      <h3 id="windows-msi">Windows MSI installer packages</h3>

        <p>AdoptOpenJDK Windows installer packages are available as standard <tt>.msi</tt> files, which can be run with an interactive user interface or run silently
        from the command line. The installer is designed for use on a per-machine basis, not per-user basis, so you can have only one installation of the MSI
        on a machine for all users.</p>

        <p>Note: Windows installer packages are supported only on Windows x64 systems.</p>

     <h4 id="windows-msi-gui">GUI installation</h4>

        <p>Instructions for running an interactive installation using the Windows MSI installer.</p>

        <p>1. <a href="./releases.html">Download</a> the <tt>.msi</tt> file. Open it to launch the installation program.</p>
        <p>2. Read and accept the license if you are happy with the terms.</p>
        <p>3. On the <strong>Custom Setup</strong> screen you can choose the features that you want to install and optionally change the default installation
          directory. By default, AdoptOpenJDK installs to <tt>c:\Program Files\AdoptOpenJDK\&lt;package&gt;</tt> with the following features, which you can deselect, if necessary:
                <br>
                <ul>
                  <li>Add the installation to the <strong>PATH</strong> environment variable</li>
                  <li>Associate <tt>.jar</tt> files with Java applications</li>
                </ul>
                Additional features can be selected by clicking on the directory tree where you see a check mark (x). These features include:
                <br>
                <ul>
                  <li>Updating the <strong>JAVA_HOME</strong> environment variable</li>
                  <li>Installing IcedTea-Web (AdoptOpenJDK 8 only)</li>
                  <li>Associate <tt>.jnlp</tt> files with the IcedTea-Web application (AdoptOpenJDK 8 only)</li>
                </ul>
        <p>4. When you have chosen the features that you want to install, click <strong>Next</strong>.</p>
        <p>5. Click <strong>Install</strong> to begin the installation.</p>
        <p>6. When the installation is finished, click <strong>Finish</strong> to close the program.</p>


     <h4 id="windows-msi-cmdline">Command-line installation</h4>

        <p>A silent installation allows you to install the Windows package with pre-selected features without user interaction, which can be useful for widescale
          deployment. Follow these steps:

        <p>1. <a href="./releases.html">Download</a> the <tt>.msi</tt> file.</p>
        <p>2. Choose the features that you want to install, which are shown in the following table:</p>
        <table>

          <tr>
            <th>Feature</th>
            <th>Description</th>
          </tr>

          <tr>
            <td><tt>FeatureMain</tt></td>
            <td>Core AdoptOpenJDK installation (DEFAULT)</td>
          </tr>

          <tr>
            <td><tt>FeatureEnvironment</tt></td>
            <td>Update the <strong>PATH</strong> environment variable (DEFAULT)</td>
          </tr>

          <tr>
            <td><tt>FeatureJarFileRunWith</tt></td>
            <td>Associate <tt>.jar</tt> files with Java applications (DEFAULT)</td>
          </tr>

          <tr>
            <td><tt>FeatureJavaHome</tt></td>
            <td>Update the <strong>JAVA_HOME</strong> environment variable</td>
          </tr>

          <tr>
            <td><tt>FeatureIcedTeaWeb</tt></td>
            <td>Install <a href="https://www.github.com/adoptopenjdk/icedtea-web" target="_blank">IcedTea-Web</a></td>
          </tr>

          <tr>
            <td><tt>FeatureJNLPFileRunWith</tt></td>
            <td>Associate <tt>.jnlp</tt> files with IcedTea-web</td>
          </tr>

          <tr>
            <td><tt>FeatureOracleJavaSoft</tt></td>
            <td>Updates registry keys HKLM\SOFTWARE\JavaSoft\</td>
          </tr>

        </table>

        <p>Note: <tt>FeatureOracleJavaSoft</tt> can be used to prevent Oracle Java launching from PATH when AdoptOpenJDK is uninstalled. Reinstall Oracle Java if you need
        to restore the Oracle registry keys.</p>

        <p>Optional parameters can be used that group some of the features together:</p>
        <table>
          <tr>
            <th>Parameter</th>
            <th>Features</th>
          </tr>

          <tr>
            <td>INSTALLLEVEL=1</td>
            <td>FeatureMain,FeatureEnvironment,FeatureJarFileRunWith</td>
          </tr>

          <tr>
            <td>INSTALLLEVEL=2</td>
            <td>FeatureMain,FeatureEnvironment,FeatureJarFileRunWith,FeatureJavaHome,FeatureIcedTeaWeb</td>
          </tr>

          <tr>
            <td>INSTALLLEVEL=3</td>
            <td>FeatureMain,FeatureEnvironment,FeatureJarFileRunWith,FeatureJavaHome,FeatureIcedTeaWeb,FeatureJNLPFileRunWith</td>
          </tr>
        </table>

        <p>3. Run the command on the target workstation.</p>

        <p>The following example silently installs AdoptOpenJDK, updates the PATH, associates <tt>.jar</tt> files with Java applications and defines JAVA_HOME:</p>
        <pre><code class="highlighted">msiexec /i &lt;package&gt;.msi ADDLOCAL=FeatureMain,FeatureEnvironment,FeatureJarFileRunWith,FeatureJavaHome INSTALLDIR="c:\Program Files\AdoptOpenJDK\" /quiet</code></pre>
        <p>Note: You must use <tt>INSTALLDIR</tt> with <tt>FeatureMain</tt>.
        </p>

        <p>The following example silently installs all the features for <tt>INSTALLLEVEL=1</tt>:</p>
        <pre><code class="highlighted">msiexec /i &lt;package&gt;.msi INSTALLLEVEL=1 /quiet</code></pre>

        <p>If you want to launch an interactive installation in another language you can use the Windows installer <tt>TRANSFORMS</tt> option to set
        your language choice. For example, to set the UI language to German, use code <tt>1031</tt>, which must be preceded by a <tt>:</tt>.</p>
        <pre><code class="highlighted">msiexec /i &lt;package&gt;.msi INSTALLLEVEL=1 TRANSFORMS=:1031</code></pre>
        <p>For a list of supported codes, see the <a href="https://github.com/AdoptOpenJDK/openjdk-installer/blob/master/wix/Lang/LanguageList.config" target="_blank">Language list</a>.
        </p>

     <h4 id="windows-msi-upgrade">Reinstalling or upgrading</h4>

       <p>To reinstall AdoptOpenJDK in silent mode with default features, run the following command:</p>
       <pre><code class="highlighted">msiexec /i &lt;package&gt;.msi REINSTALL=ALL /quiet</code></pre>

       <p>If you want to upgrade AdoptOpenJDK in silent mode, run the following command:</p>
       <pre><code class="highlighted">msiexec /i &lt;package&gt;.msi REINSTALL=ALL REINSTALLMODE=amus /quiet</code></pre>

       <p><tt>REINSTALLMODE</tt> options: (from <a href="https://www.advancedinstaller.com/user-guide/control-events.html" target="_blank">Control Events</a>)</p>
        <ul>
           <li><tt>a</tt>: Force all files to be installed regardless of checksum or version</li>
           <li><tt>m</tt>: Rewrite all required registry entries from the Registry Table that go to the HKEY_LOCAL_MACHINE</li>
           <li><tt>o</tt>: Reinstall if the file is missing or is an older version</li>
           <li><tt>u</tt>: Rewrite all required registry entries from the Registry Table that go to the HKEY_CURRENT_USER or HKEY_USERS</li>
           <li><tt>s</tt>: Reinstall all shortcuts and re-cache all icons overwriting any existing shortcuts or icons</li>
        </ul>
       <p>Note: <tt>REINSTALL=ALL</tt> automatically sets <tt>REINSTALLMODE=omus</tt></p>

      <p><strong>Upgrade limitation</strong>:</p>

      <p>Upgrading <tt>.msi</tt> files works only for the first 3 digits of the build number due to an <a href="https://docs.microsoft.com/windows/desktop/Msi/productversion" target="_blank">MSI limitation</a>:</p>
        <ul>
          <li>Upgrading 8.0.2.1 to 8.0.3.1 works.</li>
          <li>Upgrading 8.0.2.1 to 8.0.2.2 does not work. Uninstall the previous <tt>.msi</tt> and install the new one.</li>
          <li>Upgrading 8.0.2.1 to 8.1.2.1 works.</li>
          <li>Upgrading 8.0.2.1 to 11.0.2.1 does not work. AdoptOpenJDK does not provide upgrades for major versions. Either keep both installations or uninstall the older one.</li>
       </ul>

      <h4>Reference reading</h4>
       <ul>
         <li><a href="https://www.advancedinstaller.com/user-guide/msiexec.html" target="_blank">Msiexec.exe Command Line</a></li>
       </ul>

    </div>
  </div>

  <div class="margin-bottom">

    <h3 id="macos-pkg">macOS PKG installer packages</h3>

      <p>AdoptOpenJDK macOS installer packages are available as standard <tt>.pkg</tt> files, which can be run with an interactive user interface or run silently
        from the <strong>Terminal</strong> command line.
      </p>

    <h4 id="macos-pkg-gui">GUI installation</h4>

      <p>Instructions for running an interactive installation using the macOS PKG installer.
      </p>
      <p>1. <a href="./releases.html">Download</a> the <tt>.pkg</tt> file.
      </p>
      <p>2. Navigate to the folder that contains the file and open it to launch the installation program or drag the icon to your Application folder.
      </p>
      <p>3. The <strong>Introduction</strong> screen indicates the target location for the installation, which you can change later in the install process. Click <strong>Continue</strong>.
      </p>
      <p>4. Read the license, click <strong>Continue</strong> and accept the license if you are happy with the terms.
      </p>
      <p>5. Change the target location for the installation. Click <strong>Install</strong> to complete the installation.
      </p>


    <h4 id="macos-pkg-cmdline">Command-line installation</h4>

       <p>A silent installation allows you to install the macOS package without user interaction, which can be useful for widescale
         deployment. You must have administrator privileges. Follow these steps:
       </p>

       <p>1. <a href="./releases.html">Download</a> the <tt>.pkg</tt> file.
       </p>
       <p>2. Launch the Terminal app (<tt>terminal.app</tt>).
       </p>
       <p>3. Run the following command:</p>
       <pre><code class="highlighted">installer -pkg &lt;path_to_pkg&gt;/&lt;pkg_name&gt;.pkg -target /</code></pre>
       <p>4. Enter the Administrator password.
       </p>
       <p>5. AdoptOpenJDK installs to <tt>/Library/Java/JavaVirtualMachines/AdoptOpenJDK-&lt;version&gt;.&lt;jdk|jre&gt;/</tt>
       </p>
  </div>

  <div class="margin-bottom">

    <h3 id="linux-pkg">Linux RPM and DEB installer packages</h3>

      <p>AdoptOpenJDK RPM and DEB packages are available for installing on your favourite Linux distribution.
      </p>

    <h4 id="linux-pkg-deb">Deb installation on Debian or Ubuntu</h4>

      <p>
        You need the codename of your Debian or Ubuntu version. It is usually recorded in
        <code>/etc/os-release</code> and can be extracted on Debian by running  
        <code>cat /etc/os-release | grep VERSION_CODENAME | cut -d = -f 2</code>
        and on Ubuntu by running
        <code>cat /etc/os-release | grep UBUNTU_CODENAME | cut -d = -f 2</code>.
      </p>

      <ol>
        <li>Ensure the necessary packages are present:
          <pre>
            <code class="highlighted">
sudo apt-get install -y wget apt-transport-https gnupg
            </code>
          </pre>
        </li>
        <li>Download the AdoptOpenJDK GPG key:
          <pre>
            <code class="highlighted">
wget https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public
            </code>
          </pre>
        </li>
        <li> Make key accessible by apt (replace angle bracket and the values in it. For example --import public)
          <pre>
            <code class="highlighted"> 
gpg --no-default-keyring --keyring ./adoptopenjdk-keyring.gpg --import &lt;dowloaded-keyfile-name&gt;&lt;.ext&gt;
            </code>
          </pre>
        </li>
        <pre>
            <code class="highlighted">
gpg --no-default-keyring --keyring ./adoptopenjdk-keyring.gpg --export --output adoptopenjdk-archive-keyring.gpg 
            </code>
          </pre>
        <li>Clean Up
          <pre>
            <code class="highlighted">
rm adoptopenjdk-keyring.gpg
            </code>
          </pre>
        </li>
        <li> Save keyring in root directory (Create the keyrings directory)
          <pre>
            <code class="highlighted">
sudo mv adoptopenjdk-archive-keyring.gpg /usr/share/keyrings && sudo chown root:root adoptopenjdk-archive-keyring.gpg 
            </code>
          </pre>
        </li>
        </li>
        <li>Configure AdoptOpenJDK's apt repository by replacing the angle bracket and values in it:
          <pre>
            <code class="highlighted">
echo "deb [signed-by=/usr/share/keyrings/adoptopenjdk-archive-keyring.gpg] https://adoptopenjdk.jfrog.io/adoptopenjdk/deb &lt;codename&gt; main" | sudo tee /etc/apt/sources.list.d/adoptopenjdk.list
            </code>
          </pre>
        </li>
        <li>Refresh the package indexes:
          <pre>
            <code class="highlighted">
sudo apt-get update
            </code>
          </pre>
        </li>
        <li>To see which variants of AdoptOpenJDK are available, run
          <pre>
            <code class="highlighted">
sudo apt-cache search adoptopenjdk
            </code>
          </pre>
        </li>
        <li>To install a variant of AdoptOpenJDK, run <code>apt-get install &lt;packagename&gt;</code>, for example:
          <pre>
            <code class="highlighted">
sudo apt-get install adoptopenjdk-11-hotspot
            </code>
          </pre>
        </li>
      </ol>

    <h4 id="linux-pkg-deb-derivates">Deb installation on Raspberry Pi OS, Linux Mint and other Debian-based distributions</h4>

      <p>
        Raspberry Pi OS (formerly known as Raspbian), Linux Mint and other Debian- and Ubuntu-based distributions are usually based
        on a specific Debian or Ubuntu release. For example, Linux Mint 20.04 (Ulyanna) is based on Ubuntu 20.04 (Focal Fossa),
        Raspberry Pi OS 10 is based on Debian GNU/Linux 10 (Buster). Because AdoptOpenJDK only offers repositories for Debian and
        Ubuntu, you need to find out which Debian or Ubuntu version your distribution is based on. This is usually recorded in
        <code>/etc/os-release</code> and can usually be extracted on Debian-based distributions by running  
        <code>cat /etc/os-release | grep VERSION_CODENAME | cut -d = -f 2</code>
        and on Ubuntu-based distributions by running
        <code>cat /etc/os-release | grep UBUNTU_CODENAME | cut -d = -f 2</code>.
      </p>

      <ol>
        <li>Ensure the necessary packages are present:
          <pre>
            <code class="highlighted">
sudo apt-get install -y wget apt-transport-https gnupg
            </code>
          </pre>
        </li>
        <li>Download the AdoptOpenJDK GPG key:
          <pre>
            <code class="highlighted">
wget https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public
            </code>
          </pre>
        </li>
        <li> Make key accessible by apt (replace angle bracket and the values in it. For example --import public)
          <pre>
            <code class="highlighted"> 
gpg --no-default-keyring --keyring ./adoptopenjdk-keyring.gpg --import &lt;dowloaded-keyfile-name&gt;&lt;.ext&gt;
            </code>
          </pre>
        </li>
        <pre>
            <code class="highlighted">
gpg --no-default-keyring --keyring ./adoptopenjdk-keyring.gpg --export --output adoptopenjdk-archive-keyring.gpg 
            </code>
          </pre>
        <li>Clean Up
          <pre>
            <code class="highlighted">
rm adoptopenjdk-keyring.gpg
            </code>
          </pre>
        </li>
        <li> Save keyring in root directory (Create the keyrings directory)
          <pre>
            <code class="highlighted">
sudo mv adoptopenjdk-archive-keyring.gpg /usr/share/keyrings && sudo chown root:root adoptopenjdk-archive-keyring.gpg 
            </code>
          </pre>
        </li>
        </li>
        <li>Configure AdoptOpenJDK's apt repository by replacing the angle bracket and values in it:
          <pre>
            <code class="highlighted">
echo "deb [signed-by=/usr/share/keyrings/adoptopenjdk-archive-keyring.gpg] https://adoptopenjdk.jfrog.io/adoptopenjdk/deb &lt;codename&gt; main" | sudo tee /etc/apt/sources.list.d/adoptopenjdk.list
            </code>
          </pre>
        </li>
        <li>Refresh the package indexes:
          <pre>
            <code class="highlighted">
sudo apt-get update
            </code>
          </pre>
        </li>
        <li>To see which variants of AdoptOpenJDK are available, run
          <pre>
            <code class="highlighted">
sudo apt-cache search adoptopenjdk
            </code>
          </pre>
        </li>
        <li>To install a variant of AdoptOpenJDK, run <code>apt-get install &lt;packagename&gt;</code>, for example:
          <pre>
            <code class="highlighted">
sudo apt-get install adoptopenjdk-11-hotspot
            </code>
          </pre>
        </li>
      </ol>

    <h4 id="linux-pkg-rpm">RPM installation</h4>

       <p>RPM packages are maintained in artifactory for various Linux distributions. For a full list (with artifactory <tt>baseurl</tt> values), see
         <a href="https://adoptopenjdk.jfrog.io/adoptopenjdk/rpm/" target="_blank">Supported RPM versions</a>.
       </p>

       <p><strong>RPM installation on Centos, RHEL, or Fedora</strong></p>
       <p>The following steps describe how to install an RPM package for Centos. To install an RPM for RHEL or Fedora update the <tt>baseurl</tt> value accordingly.
       </p>
       <p>1. Add the appropriate RPM repository to your <tt>/etc/yum.repos.d/adoptopenjdk.repo</tt> file, by running the following command:</p>
       <pre><code class="highlighted">
cat &lt;&lt;&apos;EOF&apos; &gt; /etc/yum.repos.d/adoptopenjdk.repo
[AdoptOpenJDK]
name=AdoptOpenJDK
baseurl=http://adoptopenjdk.jfrog.io/adoptopenjdk/rpm/centos/$releasever/$basearch
enabled=1
gpgcheck=1
gpgkey=https://adoptopenjdk.jfrog.io/adoptopenjdk/api/gpg/key/public
EOF
       </code></pre>

      <p>2. Install your choice of OpenJDK. For example, to install AdoptOpenJDK version 8 with OpenJ9, run:</p>
      <pre><code class="highlighted">yum install adoptopenjdk-8-openj9</code></pre>

      <p><strong>RPM installation on openSUSE or SLES</strong></p>
      <p>The following steps describe how to install an RPM package on openSUSE v15. To install an RPM for SLES, or
        to install a different version of openSUSE, switch the <tt>baseurl</tt> value.
      </p>

      <p>1. Add the appropriate RPM repository to your <tt>/etc/yum.repos.d/adoptopenjdk.repo</tt> file, by running the following command:</p>
      <pre><code class="highlighted">zypper ar -f http://adoptopenjdk.jfrog.io/adoptopenjdk/rpm/opensuse/15.0/$(uname -m) adoptopenjdk</code></pre>

      <p>2. Install your choice of OpenJDK. For example, to install AdoptOpenJDK version 8 with OpenJ9, run:</p>
      <pre><code class="highlighted">zypper install adoptopenjdk-8-openj9</code></pre>

  </div>
  </div>

  <div class="align-left align">
    <div style="margin-top: 3rem;">
      <a href="./migration.html" class="no-underline home-links">
        <h2 id="migration-link" class="inline-block zero-margin">Migration&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="./support.html" class="no-underline home-links">
        <h2 id="support-link" class="inline-block zero-margin">Support&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
      <a href="https://github.com/AdoptOpenJDK/openjdk-build/issues" class="no-underline home-links">
        <h2 id="issues-link" class="inline-block zero-margin">Submit an issue&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></h2>
      </a>
    </div>
  </div>
</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>' script2='<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>' script3='<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>' }}
