{{> header title='Latest release | ' }}

<main class="grey-bg">

  <div id="latest-page">
    <h1 class="large-title">Latest release</h1>

    <div style="margin-bottom: 2rem;">
      <a href="./archive.html" class="blue-button a-button">
        <div>
          <span>Build archive</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>
      <a href="https://adoptium.net/temurin/nightly" target="_blank" id="nightly-button" class="grey-button a-button">
        <div>
          <span>Nightly builds</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>

      <div class="btn-container">
        <form id="jdk-selector" class="btn-form">
          <h3>1. Choose a Version</h3>
        </form>
      <form id="jvm-selector" class="index-jvm-btn-form jvm-btn-form btn-form">
        <h3>2. Choose a JVM
          <span class="help-jvm">Help Me Choose</span>
          <div class="popup-content" id="jvm-popup">
            <div class="popup-heading">
              <h4>Choosing the right JVM</h4>
            </div>
            <div class="popup-text">
              <p class="hotspot-text"><b>HotSpot</b> is the VM from the OpenJDK community. It is the most widely used VM today and is used in Oracle’s JDK. It is suitable for all workloads.</p>
              <p>For more details see <a target="_blank" href="https://openjdk.java.net/groups/hotspot/">OpenJDK HotSpot</a>.</p>
              <p class="openj9-text"><b>Eclipse OpenJ9</b> is the VM from the Eclipse community.  It is an enterprise-grade VM designed for low memory footprint and fast start-up and is used in IBM’s JDK.  It is suitable for running all workloads.</p>
              <p>For more details see <a target="_blank" href="https://www.eclipse.org/openj9/">Eclipse OpenJ9</a>.</p>
              <p class="lts-text"><b>LTS</b> (Long Term Support). These versions have a longer support timeframe. Suitable for enterprise customers. See <a href="https://adoptium.net/support">Support</a> for more information.</p>
            </div>
          </div>
        </h3>
      </form>
      </div>

      <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40" alt="Content is loading."></div>
      <div id="error-container"></div>
    </div>

    <div id="latest-container" class="invisible">
      <h3 id="description_header"></h3>
      <a id="description_link" href=""></a>
      <h3><a href="./release_notes.html" class="release_notes">All Release Notes</a></h3>

      <div class="filter-divs">
        <div class="filter-os filter-div">
          <span><strong>Operating System:</strong></span>
          <select id="os-filter" class="filter" onchange="filterOS()">
            <option value="Any">-Any-</option>
          </select>
        </div>

        <div class="filter-arch filter-div">
          <span><strong>Architecture:</strong></span>
          <select id="arch-filter" class="filter" onchange="filterArch()">
            <option value="Any">-Any-</option>
          </select>
        </div>
      </div>

      {{> modal }}

      <div id="latest-selector">
        <script id="template-selector" type="text/x-handlebars-template">
          {{! Create each platform's selector tile }}
          \{{#each releases}}
              <table class="main-download__variant__table releases-table">
                 <tbody>
                    <tr>
                       <td class="main-download__variant__name blue-bg">
                          <span>\{{release_name}}</span>
                          \{{#if early_access}}
                              \{{#if_eq vendor 'eclipse'}}
                              <span class="early-access">Temurin*</span>
                              \{{else if_eq vendor 'ibm'}}
                              <span class="early-access">Semeru Runtimes*</span>
                              \{{else}}
                              <span class="early-access">AdoptOpenJDK</span>
                              \{{/if_eq}}
                          \{{else}}
                              \{{#if_eq vendor 'eclipse'}}
                              <span class="download-last-version">Temurin*</span>
                              \{{else if_eq vendor 'ibm'}}
                              <span class="download-last-version">Semeru Runtimes*</span>
                              \{{else}}
                              <span class="download-last-version">AdoptOpenJDK</span>
                              \{{/if_eq}}
                          \{{/if}}
                       </td>
                       <td class="main-download__variant__os">
                          <span class="os">\{{fetchOS platform_official_name}}</span>
                          <span>\{{platform_supported_version}}</span>
                       </td>
                       <td class="main-download__variant__architecture">
                          <span class="arch">\{{fetchArch platform_official_name}}</span>
                       </td>
                       <td class="main-download__variant__heap_size">
                          <span class="heap_size">\{{heap_size}}</span>
                       </td>
                       <td class="main-download__variant__download">
                          \{{#if_eq vendor 'adoptopenjdk'}}
                          <table class="main-download__variant__sub-table">
                             <tbody>
                                <tr class="main-download__variant__sub-table__tr">
                                   \{{#each binaries}}
                                   \{{#if installer_link}}
                                   <td class="main-download__variant__sub-table__row">
                                      <table>
                                         <tbody>
                                            <tr>
                                               <td>
                                                  <span class="main-download__variant__download__title"><a href='javascript:renderChecksum("\{{installer_checksum}}");' class='dark-link'>Checksum (SHA256)</a></span>
                                               </td>
                                            </tr>
                                            <tr>
                                               <td>
                                                  <span>\{{type}} - \{{installer_size}} MB</span>
                                               </td>
                                            </tr>
                                         </tbody>
                                      </table>
                                   </td>
                                   <td class="main-download__variant__sub-table__row">
                                      <a class="main-download__variant__sub-table__download" href="\{{installer_link}}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;\{{fetchExtension installer_link}}</a>
                                   </td>
                                </tr>
                                \{{/if}}
                                <td class="main-download__variant__sub-table__row">
                                   <table>
                                      <tbody>
                                         <tr>
                                            <td>
                                               <span class="main-download__variant__download__title"><a href='javascript:renderChecksum("\{{checksum}}");' class='dark-link'>Checksum (SHA256)</a></span>
                                            </td>
                                         </tr>
                                         <tr>
                                            <td>
                                               <span>\{{type}} - \{{size}} MB</span>
                                            </td>
                                         </tr>
                                      </tbody>
                                   </table>
                                </td>
                                <td class="main-download__variant__sub-table__row">
                                   <a class="main-download__variant__sub-table__download" href="\{{link}}"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;\{{fetchExtension link}}</a>
                                </td>
                                </tr>
                                \{{/each}}
                             </tbody>
                          </table>
                          \{{else if_eq vendor 'eclipse'}}
                          <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Eclipse_Adoptium_Logo.svg" style="width: 10em; padding: 1em" alt="Adoptium Logo">
                          <p style="max-width: 20em;">Please download this binary from <a href="https://adoptium.net/temurin/releases?version=\{{formatVersion variant}}">adoptium.net</a> going forwards.</p>
                          \{{else if_eq vendor 'ibm'}}
                          <img src="dist/assets/ibm.svg" style="width: 8em; padding: 1em" alt="Adoptium Logo">
                          <p style="max-width: 20em;">Please download this binary from <a href="https://developer.ibm.com/languages/java/semeru-runtimes/downloads">developer.ibm.com</a> going forwards.</p>
                          \{{/if_eq}}
                       </td>
                    </tr>
                 </tbody>
              </table>
            \{{/each}}
          </script>
         </div>
      </div>
    </div>
    <br>
    
    <span>
      *Temurin releases are provided by the Eclipse Temurin project. Please consume these binaries from <a href="https://adoptium.net">adoptium.net</a> going forwards.</br>
      *Semeru Runtimes releases are provided by IBM. Please consume these binaries from <a href="https://developer.ibm.com/languages/java/semeru-runtimes/downloads">developer.ibm.com</a> going forward.
   </span>
</div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>' }}
