{{> header title='Latest release | ' }}

<main class="grey-bg">

  <div id="latest-page">
    <h1 class="large-title">Latest release</h1>

    <div style="margin-bottom: 2rem;">
      <a href="./archive.html" class="blue-button a-button">
        <div>
          <span>Build archive</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>
      <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
        <div>
          <span>Nightly builds</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>

      <div class="btn-container">
        <form id="jdk-selector" class="btn-form">
          <h3>1. Choose a Version</h3>
        </form>
        <form id="jvm-selector" class="btn-form">
          <h3>2. Choose a JVM</h3>
        </form>
      </div>

      <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>
      <div id="error-container"></div>
    </div>

    <div id="latest-container" class="invisible">
      <h3 id="description_header"></h3>
      <a id="description_link" href=""></a>

      <h2 id="latest-select-text" style="margin-bottom: 0.5rem;">Select a platform</h2>
      <br>

      <div id="latest-selector">
        <script id="template-selector" type="text/x-handlebars-template">
          {{! Docker }}
          <a id="docker_link" href="" target="_blank">
            <div class="docker-asset latest-grid-border" id='latest-selector-Docker'>
              <img alt='Docker logo' src='./dist/assets/docker.png' />
              <h2 class="officialName"><var platform-name>Docker</var></h2>
              <p class="releaseName"><var release-name>Official Image</var></p>
            </div>
          </a>
          {{! Create each platform's selector tile }}
            \{{#each releases}}
              <div class="latest-asset latest-grid-border" id='latest-selector-\{{platform_name}}' onclick='selectLatestPlatform("\{{platform_name}}")'>
                <img alt='\{{platform_official_name}} logo' src='\{{platform_logo}}' />
                <h2 class="officialName"><var platform-name>\{{platform_official_name}}</var></h2>
                <p class="releaseName"><var release-name>\{{release_name}}</var></p>
              </div>
            \{{/each}}
          </script>
      </div>

      <div id="latest-info">
        <script id="template-info" type="text/x-handlebars-template">
          {{! Create each platform's "latest release" info view }}
            \{{#each releases}}
              <div id='latest-info-\{{platform_name}}' class='latest-info-container latest-grid-border hide'>
                <div class='platform-section'>
                  <img alt='\{{platform_official_name}} logo' src='\{{platform_logo}}'>
                  <h2 class="officialName"><var platform-name>\{{platform_official_name}}</var></h2>
                  <p class="releaseName"><a href='\{{release_link}}' class='dark-link' target='_blank'><var release-name>\{{release_name}}</var></a></p>
                  <p class="releaseDateTime">\{{release_datetime}}</p>
                  <p onclick='unselectLatestPlatform();' class="latest-selector-back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to platforms</p>
                </div>
                <div class='content-section'>

                  {{! show the release's binaries }}
                  \{{#each binaries}}
                    <div class='latest-block'>
                    \{{#if installer_link}}
                        <a href='\{{installer_link}}' class='latest-download-button a-button'>
                          <div class='large-dl-text'>Install \{{type}}
                            <div class='small-dl-text'>Installer</div>
                          </div>
                        </a>
                        <a href='\{{link}}' class='latest-download-button latest-download-button-grey a-button'>
                          <div class='large-dl-text'>Download \{{type}}
                            <div class='small-dl-text'>\{{extension}} - \{{size}} MB</div>
                          </div>
                        </a>
                      \{{else}}
                      <a href='\{{link}}' class='latest-download-button a-button'>
                        <div class='large-dl-text'>Download \{{type}}
                          <div class='small-dl-text'>\{{extension}} - \{{size}} MB</div>
                        </div>
                      </a>
                      \{{/if}}
                    <div class='latest-details'>
                      <p><a href='\{{checksum_link}}' class='dark-link' target='_blank'>Checksum</a></p>
                    </div>
                  </div>
                  \{{/each}}

                </div>
              </div>
            \{{/each}}
          </script>
      </div>

    </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>' }}
