{{> header title='Latest release | ' }}

<main class="grey-bg">

  <div id="latest-page">
    <h1 class="large-title">Latest release</h1>

    <div style="margin-bottom: 2rem;">
      <a href="./archive.html" class="blue-button a-button">
        <div>
          <span>Build archive</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>
      <a href="./nightly.html" id="nightly-button" class="grey-button a-button">
        <div>
          <span>Nightly builds</span>
          <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
      </a>

      <div id="loading"><img src="dist/assets/loading_dots.gif" width="40" height="40"></div>
      <div id="error-container"></div>
    </div>

    <div id="latest-container" class="invisible">
      <div class="btn-container">
        <form id="jdk-selector" class="btn-form">
          <h3>1. Choose a Version</h3>
        </form>
        <form id="jvm-selector" class="btn-form">
          <h3>2. Choose a JVM</h3>
        </form>
      </div>
      <h3 id="description_header"></h3>
      <a id="description_link" href=""></a>
      <h2 style="margin-bottom: 0.6rem;">Build <strong><a href="" id="latest-build-name" target="_blank"></a></strong></h2>

      <table id="latest-metadata-table" cellspacing="0" cellpadding="0">
        <tr>
          <td><strong>Date: </strong><span id="latest-date"></span></td>
          <td><strong>Timestamp: </strong><span id="latest-timestamp"></span></td>
        </tr>
      </table>

      <h2 id="latest-select-text" style="margin-bottom: 0.5rem;">Select a platform</h2>
      <br>

        <div id="latest-selector">
          <script id="template-selector" type="text/x-handlebars-template">
            \{{#each htmlTemplate}}
              <div class="latest-asset latest-grid-border" id='latest-selector-\{{thisPlatform}}' onclick='selectLatestPlatform("\{{thisPlatform}}")'>
                <img alt='\{{thisOfficialName}} logo' src='\{{thisLogo}}'><var platform-name>\{{thisOfficialName}}</var>
              </div>
            \{{/each}}
          </script>
        </div>

        <div id="latest-info">
          <script id="template-info" type="text/x-handlebars-template">
            \{{#each htmlTemplate}}
              <div id='latest-info-\{{thisPlatform}}' class='latest-info-container latest-grid-border hide'>
                <div class='platform-section'>
                  <img alt='\{{thisOfficialName}} logo' src='\{{thisLogo}}'>
                  <h2><var platform-name>\{{thisOfficialName}}</var></h2>
                  <p onclick='unselectLatestPlatform();' class="latest-selector-back-button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to platforms</p>
                </div>
                <div class='content-section'>

                  \{{#if thisInstallerExists}}
                   <div class="inline-block">
                    <div class='latest-block'>
                      <span>Installer</span>
                      <a href='\{{thisInstallerLink}}' class='latest-download-button a-button installer-dl'>
                        {{> jck-tick }}
                        <div class='large-dl-text'>Download
                          <div class='small-dl-text'><var installer-info>\{{thisInstallerExtension}} - \{{thisInstallerSize}} MB</var></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  \{{/if}}

                  \{{#if thisBinaryExists}}

                    \{{#if thisInstallerExists}}
                      <div class='inline-block binary-grey'>
                    \{{/if}}
                      <div class='latest-block'>
                        <span>Binary</span>
                        <a href='\{{thisBinaryLink}}' class='latest-download-button a-button'>
                          {{> jck-tick }}
                          <div class='large-dl-text'>Download
                            <div class='small-dl-text'><var binary-info>\{{thisBinaryExtension}} - \{{thisBinarySize}} MB</var></div>
                          </div>
                        </a>
                        <div class='latest-details'>
                          <p><a href='\{{thisChecksumLink}}' class='dark-link' target='_blank'>Checksum</a></p>
                        </div>
                      </div>
                    \{{#if thisInstallerExists}}
                      </div>
                    \{{/if}}
                  \{{/if}}

                </div>
              </div>
            \{{/each}}
          </script>
        </div>

    </div>

  </div>

</main>

{{> footer script='<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.js"></script>' script2='<script>onLatestLoad();</script>' }}
