<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@adoptopenjdk" />
    <meta name="twitter:title" content="{{title}}AdoptOpenJDK">
    <meta name="twitter:description" content="{{> meta-description}}">
    <meta name="twitter:image" content="https://adoptopenjdk.net/dist/assets/social-image.png">
    <meta property="og:image" content="https://adoptopenjdk.net/dist/assets/social-image.png"/>
    <meta property="og:title" content="{{title}}AdoptOpenJDK"/>
    <meta property="og:description" content="{{> meta-description}}"/>
    <meta name="description" content="{{> meta-description}}"/>
    <title>{{title}}AdoptOpenJDK - Open source, prebuilt OpenJDK binaries</title>
    <link rel="shortcut icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {{{style1}}}
    {{{style2}}}
</head>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "AdoptOpenJDK",
  "url": "https://adoptopenjdk.net",
  "logo": "https://adoptopenjdk.net/dist/assets/social-logo.png",
  "sameAs": [
    "https://github.com/AdoptOpenJDK",
    "https://twitter.com/adoptopenjdk",
    "https://www.facebook.com/AdoptOpenJDK",
    "https://www.youtube.com/c/AdoptOpenJDK"
  ]
}
</script>

<script src="https://global.localizecdn.com/localize.js"></script>

<script>!function(a){if(!a.Localize){a.Localize={};for(var e=["translate","untranslate","phrase","initialize","translatePage","setLanguage","getLanguage","detectLanguage","getAvailableLanguages","untranslatePage","bootstrap","prefetch","on","off"],t=0;t<e.length;t++)a.Localize[e[t]]=function(){}}}(window);</script>

<script>
 Localize.initialize({
  key: 'vWKzIgeZa4D3c',
  rememberLanguage: true,
  saveNewPhrasesFromSource: true
 });
</script>

<!-- Hotjar Tracking Code for https://adoptopenjdk.net -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:908427,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<body class="blue-bg">
  {{> menu }}
  <nav>
      <label id="menu-button" for="menu-checkbox">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <a id="logo" href="./index.html" class="a-button">
          <img src='dist/assets/adopt_logo_white.svg' alt="AdoptOpenJDK">
      </a>

      <div id="header-social-bar">{{> social-bar }}</div>
  </nav>

<!-- This is where you can add banners to the website -->

  {{!-- <div class="alert align-center">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>14th Apr 2020:</strong> AdoptOpenJDK <strong>8u252</strong>, <strong>11.0.7</strong>, and <strong>14.0.1</strong> release binaries will be released in 24-72 hours!
  </div> --}}
