<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@adoptium" />
    <meta name="twitter:title" content="{{title}}Adoptium">
    <meta name="twitter:description" content="{{> meta-description}}">
    <meta name="twitter:image" content="https://adoptopenjdk.net/dist/assets/social-image.png">
    <meta property="og:image" content="https://adoptopenjdk.net/dist/assets/social-image.png"/>
    <meta property="og:title" content="{{title}}Adoptium"/>
    <meta property="og:description" content="{{> meta-description}}"/>
    <meta name="description" content="{{> meta-description}}"/>
    <title>{{title}}Adoptium - Open source, prebuilt OpenJDK binaries</title>
    <link rel="shortcut icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="dist/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    {{{style1}}}
    {{{style2}}}
</head>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Adoptium",
  "url": "https://adoptium.net",
  "logo": "https://adoptopenjdk.net/dist/assets/social-logo.png",
  "sameAs": [
    "https://github.com/AdoptOpenJDK",
    "https://twitter.com/adoptopenjdk",
    "https://www.facebook.com/AdoptOpenJDK",
    "https://www.youtube.com/c/AdoptOpenJDK"
  ]
}
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5WLCZXC');</script>
<!-- End Google Tag Manager -->

<link rel="stylesheet" type="text/css" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css" />
<script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/vendor/cookieconsent/default.min.js"></script>  

<body class="blue-bg">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WLCZXC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) --> 
  {{> menu }}
  <nav>
      <label id="menu-button" for="menu-checkbox">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </label>
      <a id="logo" href="./index.html" class="a-button">
          {{!-- <img src='dist/assets/adopt_logo_white.svg' alt="AdoptOpenJDK"> --}}
          <h2 style="color: #FF1464;">Adoptium</h2>
      </a>

      <div id="header-social-bar">{{> social-bar }}</div>
  </nav>

<!-- This is where you can add banners to the website -->

  {{!-- <div class="alert align-center">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>19th June 2020 </strong><a style="color: white" href="https://blog.adoptopenjdk.net/2020/06/adoptopenjdk-to-join-the-eclipse-foundation/">AdoptOpenJDK to join the <strong>Eclipse Foundation</strong>!</a>
  </div> --}}
